.wrapper{
    width: 420px;
    height: 100%;
    background : slateblue;
    color: white;
    justify-items: center;
}

.wrapper h1{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.wrapper .input-box{
    position: relative;
    width: 90%;
    height: 50px;
    background: salmon;
    margin:30px 0;
    border-radius: 60px;
}

.input-box input{
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    font-size: 16px;
    color: #4e0f0f;
    justify-content: center;
}

input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute; 
    right: 40px;
    top: 50px;
    transform: translateY(-50%);
    font-size: 16px;
}